@font-face {
  font-family: 'Code';
  src: local('Code Light'), url(fonts/code_light.otf) format('otf');
}

body {
  background-color: black;
  margin: 0;
}

h1 {
  color: rgb(215, 215, 215);
  font-size: 7em;
  font-family: 'Code';
  margin: 0px;
}

#progress-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress {
  font-family: 'Code';
  font-size: 48px;
  font-weight: bold;
  color: white;
}

#velocity-bar-background {
  background: rgba(63, 63, 63, 0.283);
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 4px;
  height: 300px;
}

#velocity-bar {
  width: 4px; /* Set a width for the duplicate velocity bar */
  height: 0px; /* Set a height for the duplicate velocity bar */
  /* background-color: rgba(255, 0, 0, 0.607); */
  background: #9500ff6d;
  position: absolute;
  left: 30px;
  bottom: 30px;
}


#custom-cursor {
  width: 35px;
  height: 35px;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  background: url('./sprite/target_big.png') no-repeat center center; /* Use absolute URL */
  background-size: contain; /* Ensures the image fits within the element */
}