@font-face {
  font-family: 'Code';
  src: local('Code Light'), url(fonts/code_light.otf) format('otf');
}

body {
  background-color: black;
  margin: 0;
}

h1 {
  color: rgb(215, 215, 215);
  font-size: 7em;
  font-family: 'Code';
  margin: 0px;
}

#progress-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress {
  font-family: 'Code';
  font-size: 48px;
  font-weight: bold;
  color: white;
}

#velocity-bar-background {
  background: rgba(63, 63, 63, 0.283);
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 4px;
  height: calc(100% - 50px);
}

#velocity-bar {
  width: 4px; 
  height: 0px; 
  background: #9500ff6d;
  position: absolute;
  left: 25px;
  bottom: 25px; /* Start filling from the bottom */
  width: 4px;
}

#health-bar-background {
  background: rgba(63, 63, 63, 0.283);
  position: absolute;
  left: 21px;
  bottom: 25px;
  width: 4px;
  height: calc(100% - 50px);
}


#health-bar {
  background: rgba(0, 255, 42, 0.695);
  position: absolute;
  left: 21px;
  bottom: 25px;
  width: 4px;
  height: calc(100% - 50px);
  transition: height 0.3s ease;
}

.asteroid-health-bar {
  position: absolute;
  background-color: green;
  height: 5px;
  transition: width 0.2s;
  z-index: 10; /* Ensure health bar appears above other elements */
}




#custom-cursor {
  width: 35px;
  height: 35px;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  background: url('./sprite/target_big.png') no-repeat center center; /* Use absolute URL */
  background-size: contain; /* Ensures the image fits within the element */
}