@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sixtyfour+Convergence&display=swap");

body {
  background-color: black;
  margin: 0;
  font-family: "Exo 2";
  color: white;
  font-weight: bold;
  font-weight: 100;
  text-transform: uppercase;
}

#three-canvas {
  position: absolute;
}

#control-ui {
  position: absolute;
  top: 5rem;
  bottom: 5rem;
  left: 5rem;
  right: 5rem;
  background: rgba(0, 179, 255, 0.08);
  border: 2px solid rgba(0, 255, 238, 0.59);
  box-shadow: inset 26px 26px 56.3px 26px rgba(91, 255, 192, 0.13);
  backdrop-filter: blur(42.4px);
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  display: none;

  box-shadow: 5px 4px 32px rgba(0, 255, 238, 0.55),
    inset 26px 26px 56.3px 26px rgba(91, 255, 192, 0.13);
}
#hud-container {
  position: relative;
  width: 100%;
  height: 100%;
}
#hud-container canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
}

/* Positioning each HUD element */
#top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
}

#top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
}

#mid-right {
  position: absolute;
  top: 50%;
  right: 0;
  width: 250px;
  transform: translate(0, -50%);
}

#bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
}

#ship-shadow {
  box-sizing: border-box;
  position: absolute;
  width: 65%;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  height: 150px;
  z-index: -1;
  opacity: 0.5;
  pointer-events: none;
}

#bottom-center {
  box-sizing: border-box;
  position: absolute;
  width: 50%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 150px;
  /* z-index: 100; */
}

#ships-bar {
  box-sizing: border-box;
  position: absolute;
  width: 50%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 150px;
  display: flex;
  justify-content: space-around;
  padding: 3rem 6rem;
  gap: 1rem;
}

#ships-stats {
  position: absolute;
  width: 350px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

#ships-stats > div {
  display: flex;
}

.ship-option {
  background-color: rgb(137 255 247 / 28%);
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

#bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
}

h1 {
  font-size: 7em;
  margin: 0px;
  font-size: 48px;
}

#progress-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#velocity-bar-background {
  background: rgba(63, 63, 63, 0.283);
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 7px;
  height: calc(100% - 50px);
}

#velocity-bar {
  width: 4px;
  height: 0px;
  background: #9500ff;
  position: absolute;
  left: 25px;
  bottom: 25px; /* Start filling from the bottom */
  width: 7px;
}

#health-bar-background {
  background: rgba(63, 63, 63, 0.283);
  position: absolute;
  left: 15px;
  bottom: 25px;
  width: 7px;
  height: calc(100% - 50px);
}

#health-bar {
  background: rgba(0, 255, 42, 0.695);
  position: absolute;
  left: 15px;
  bottom: 25px;
  width: 7px;
  height: calc(100% - 50px);
  transition: height 0.3s ease;
}

.health-bar {
  position: absolute;
  background-color: green;
  height: 5px;
  transition: width 0.2s;
  z-index: 10;
}

#custom-cursor {
  width: 35px;
  height: 35px;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  background: url("./sprite/target_big.png") no-repeat center center; /* Use absolute URL */
  background-size: contain; /* Ensures the image fits within the element */
}

#ores {
  position: absolute;
  top: 35px;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  gap: 15px;
}

/* .exo-2-font {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sixtyfour-convergence-font {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
} */
